################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/services/ResourcesManager/.vs
/src/services/ResourcesManager/.mono/registry/CurrentUser/software/microsoft/csdevkit/telemetry/persistentpropertybag/microsoft.visualstudio.code.servicehost
/src/services/ResourcesManager/bin
/src/services/ResourcesManager/obj
/src/services/ResourcesManager/ResourcesManager.csproj.user
/src/services/RabbitKafkaBridge/vendor/
.mono
/.vs/five0/v17
